<div class="container-games">
  <h1>Administrate</h1>
  <div class="container-options">
    <button class="closeSession" onclick="logout()" id="btnLogout">Log Out</button>
    <br/>
    <button class="closeSession" onclick="delete()" id="btnDelete">Delete Account</button>
    <script>
      document.getElementById('btnLogout').addEventListener('click', () => {window.location.href = "/logout";})
      document.getElementById('btnDelete').addEventListener('click', () => {window.location.href = "/delete";})
    </script>
  </div>
</div>