<div class="container-games">
  <h1>Administrate</h1>
  <div class="container-options">
    <button class="closeSession" onclick="logout()">Log Out</button>
    <br/>
    <button class="closeSession" onclick="delete()">Delete Account</button>
    <script>
      function logout(){
        window.location.href = "/logout";
      }
      function delete(){
        window.location.href = "/delete";
      }
    </script>
  </div>
</div>