<div class="container-games">
  <h1>Delete My Account</h1>

  <form class="container-options" action="/delete" method="post">
    <p class="text-delete"><b>Do you really want to delete your account? This
        action is irreversible and will completely erase your trace and data in
        GLauncher. Pressing the "delete" button will redirect you directly to
        the main page.
      </b></p>
    <button class="closeSession">Delete</button>
  </form>
</div>