    <div class="container-games o-hidden">
      <h1>Edit</h1>
      <form class="container-options"action="/edit/{{id}}" method="post">
        <input
          type="url"
          placeholder="Insert Image Url"
          autocomplete="off"
          name="img"
          class="input"
        />
                <input type="submit" class="save-button">Save</input>
      </form>
    </div>