<div class="container-games">
  <h1>GShots</h1>
  <div class="row">
    <a href="/gshots/myfriends" class="active">My friends</a>
    <a href="/gshots/discovery">Discovery</a>
    <a href="/gshots/post">Post</a>
  </div>
  <div class="container">
    {{#each gShot}}
      <a class="element" id="element" href="/game/{{name}}">
        <img src="{{img}}" class="img" />
      </a>
    {{/each}}
  </div>
</div>