<div class="container-games">
  <div class="gShotFullScreen">
    <p>{{gShot.name}} - {{date}}</p>
    <img class="logoAuthor" src={{logo}}/>
    <img src="{{gShot.img}}" class="img" />
  </div>
</div>