<div class="container-games">
  <h1>GShots</h1>
  <div class="container">
    {{#each gShot}}
      <a class="element" id="element" href="/game/{{name}}">
        <img src="{{img}}" class="img" />
      </a>
    {{/each}}
  </div>
</div>