<div class="container-games">
  <h1>Add a Game</h1>
  <div class="container-options">
    <input
      type="text"
      placeholder="Image URL"
      autocomplete="off"
      name="text"
      class="input"
    />
    <button class="save-button">Save</button>
  </div>
</div>