<div class="container-games">
  <h1>Login</h1>
  <form class="container-options" action="/login" method="post">
    <a class="element element2" href="/">
      <img src="img/icon.png" class="img" />
    </a>
    <input
      type="text"
      placeholder="Username"
      autocomplete="off"
      name="username"
      class="input"
    />
    <input
      type="password"
      placeholder="Password"
      autocomplete="off"
      name="password"
      class="input"
    />
    <button class="save-button">Login</button>
  </form>
</div>