<div class="container-games">
  <img src="img/icon.png" alt="" />
  <button class="save-button" onclick="login()">Login</button>
  <button class="save-button" onclick="signup()">SignUp</button>
</div>

<script>
  function login() {
    window.location.replace("/login");
  }

  function signup() {
    window.location.replace("/signup");
  }
</script>