<div class="container-games o-hidden">
    <h1>Post a GShot</h1>
    <form class="container-options" action="/gshots/post" method="post">
        <a class="element dashed" href="/gameImg">
          <img
            src="/img/IconPlus.png"
            class="iconPlus"
          />
        </a>
        <input
          type="text"
          placeholder="Name"
          autocomplete="off"
          name="name"
          class="input"
        />
        <input type="submit" class="save-button" value="Save"></input>
    </form>
</div>