<div class="container-games">
  <h1>Profile</h1>
  <div class="container-options">
  <form class="container-options" action="/profile" method="post">
    <a class="element element2" href="/img">
      <img
        src={{user.img}}
        class="img"
      />
    </a>
    <input
      type="text"
      value="{{user.username}}"
      placeholder="Username"
      autocomplete="off"
      name="username"
      class="input"
      required
    />
    <input
      type="password"
      placeholder="Password"
      autocomplete="off"
      name="password"
      class="input"
      required
    />
    <input type="submit" class="save-button" value="Save"></input>
  </form>
      <button class="closeSession" onclick="admin()">Administrate</button>
    <script>
      function admin(){
        window.location.href = "/administrate";
      }
    </script>
  </div>
</div>