{{#if user}}
  <nav>
    <div class="logo">
      <a href="/profile"><img
          class="logo"
          src={{user.img}}
        /></a>
    </div>
    <div class="routes">
      <a href="/games" class="active">Games</a>
      <a href="/addGame">Add a Game</a>
    </div>
  </nav>
{{else}}
  <nav></nav>
{{/if}}      